.Block {
    display: flex;
    margin: 5px 40px;
    time {
        font-size: 13px;
        color: #acacac;
    }
    .avatar {
        margin: 0 20px;
    }
    .body {
        padding: 10px;
        font-size: 14px;
        width: 200px;
    }
    .borderRaduisLeft {
        border-radius: 20px 20px 20px 0;
        background-color: #f7f0f0;
    }
    .borderRaduisRight {
        border-radius: 20px 20px 0 20px;
        background-color: #c4e0f4;
    }
}
